<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    all: unset;
    border-radius: 4px;
    height: 40px;
    margin: 24px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .table {
    font-family: arial, sans-serif;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th .btnRow {
    height: auto;
    width: 50%;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    width: 15%;
    background-color: #4CAF50;
    border: solid #ccc;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    height: 51px;
  }


  input[type=text] {
    border: solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px 32px;
  }

</style>

<div class="content" role="main">

  <div class="card" style="justify-content: left;">
    <h1>Listado de Pokémon</h1>
  </div>

  <div class="card" style="justify-content: space-between">
    <input #search_input type="number" placeholder="Author ID" (keyup.enter)="listPokemons(search_input.value)" >
    <button type="submit" routerLink="/create">Nuevo</button>
  </div>

  <div class="card" style="margin-top: 15px">
    <table class="table">
      <thead>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
      </thead>
      <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{pokemon.name}}</td>
        <td><img style="width: 100px;height: 100px" src={{pokemon.image}}/></td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.defense}}</td>
        <th>
          <button [routerLink]="['/edit/', pokemon.id]" class="btnRow">
            Editar
          </button>
          <button (click)="deletePokemon(pokemon.id)" class="btnRow">
            Eliminar
          </button>
      </tbody>
    </table>
  </div>

</div>
