
<div class="form">
  <h1>{{title}}</h1>
  <form action="" method="post" name="registration" class="register" [formGroup]="createFrom" (ngSubmit)="createEditPokemon()">
    <fieldset>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" type="text" formControlName="nombre"/>
      </div>
      <div class="form-group">
        <label for="imagen">Imagen URL:</label>
        <input id="imagen" type="text" formControlName="imagen"/>
      </div>
      <div class="form-group">
        <label for="ataque">Ataque:</label>
        <input id="ataque" type="range" min="1" max="500" value="50" formControlName="ataque"/>
      </div>
      <div class="form-group">
        <label for="defensa">Defensa:</label>
        <input id="defensa" type="range" min="1" max="500" value="50" formControlName="defensa"/>
      </div>
      <button type="reset">Cancelar</button>
      <button type="submit">Guardar</button>
    </fieldset>
  </form>
</div>
